/*
Syntax error: Undefined mixin 'szie'.
        on line 241 of scss/application.scss, in `szie'
        from line 241 of scss/application.scss

236: 		line-height: 44px;
237: 	}
238: }
239: 
240: .dribbble_slider {
241: 	@include szie(400px 290px);
242: 	margin: 0 auto;
243: 	position: relative;
244: }
245: 
246: .shot {

Backtrace:
scss/application.scss:241:in `szie'
scss/application.scss:241
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/andrewliebchen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'szie'.\A         on line 241 of scss/application.scss, in `szie'\A         from line 241 of scss/application.scss\A \A 236: 		line-height: 44px;\A 237: 	}\A 238: }\A 239: \A 240: .dribbble_slider {\A 241: 	@include szie(400px 290px);\A 242: 	margin: 0 auto;\A 243: 	position: relative;\A 244: }\A 245: \A 246: .shot {"; }
