@import "bourbon/bourbon";
@import "reset";

$color-background: #1F1313;
$color-midground: #793D25;
$color-link: rgb(245, 226, 70);

$popup-width: 440px;
$popup-width-half: $popup-width / 2;
$popup-margin: -$popup-width-half;

@mixin carrot($size: 10px, $background: white, $placement: top) {
  position: relative;

  &::before {
    @include transform(rotate(45deg));
    @include position(absolute, 0 0 0 50%);
    background-color: $background;
    content: "";
    height: $size;
    margin-left: -($size / 2);
    width: $size;

    @if $placement == top {
      top: -($size / 2);
    }

    @if $placement == bottom {
      bottom: -($size / 2);
    }
  }
}

@include font-face(deutsch, '../../fonts/Deutsch-webfont');

/*--------------------------- ANIMATIONS */

%animation-background-fadein {
  @include animation(background-fadein 2s ease-out 0.1s forwards);
}

@include keyframes(background-fadein) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

%animation-popup-fadein {
  @include animation(popup-fadein 1s ease-out 0.5s forwards);
}

@include keyframes(popup-fadein) {
  0% {
    @include transform(scale(0.98) translateY(10px));
    opacity: 0;
  }
  100% {
    @include transform(scale(1) translateY(0));
    opacity: 1;
  }
}

/*--------------------------- GENERAL */

body, html {
	background-color: $color-background;
	color: #333;
	font-family: avenir, $helvetica;
	font-weight: 200;
	line-height: 30px;
	overflow: hidden;
}

a { 
	cursor: pointer;
	text-decoration: none; 
}

a img { 
	border: none; 
}

.clear { 
	@include clearfix;
}

.wrapper {
	position: relative;
	z-index: 1;
	height: 100vh;
	width: 100vw;
}

.background {
	@extend %animation-background-fadein;
	@include position(absolute, 0px 0px 0px 0px);
	background-image: url("../../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.popup_container {
	@extend %animation-popup-fadein;
	@include position(absolute, 0px 0px 0px 0px);
  @include size($popup-width 60%);
	opacity: 0;
	z-index: 99;
  margin: auto;
}

.links {
	@include clearfix;
	position: relative;
	width: 100%;
	z-index: 9999;
}

.link {
	@include size(25% 50%);
	@include transition;
	color: rgba(white, 0.5);
	display: block;
	float: left;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 50px;
	text-align: center;
	text-shadow: 0 3px 10px rgba(black, 0.8);

	&:hover {
		color: rgba($color-link, 0.8);
	}

	&.is-selected {
		@include carrot(10px, white, bottom);
		color: rgb(245, 226, 70);
	}
}

.popup {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 10px rgba(black, 0.8);
}

.section {
	display: none;
}

.section.is-current {
	display: block;
}

.content {
	overflow: hidden;
	padding: 40px 40px 20px 40px;
	position: relative;

	h1,
	h2 {
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	p {
		font-size: 24px;
		padding-bottom: 20px;
	}

	.headshot {
		float: left;
		margin: -3px 10px 0 0;
	}

	a {
		@include transition(background, 0.2s);
		background-color: lighten($color-link, 25%);
		border-radius: 5px;
		color: $color-midground;
		display: inline-block;
		padding: 0 5px;

		&:hover {
			background-color: lighten($color-link, 10%);
		}
	}
}

#dribbble {
	.content {
		background-color: #333;
		padding: 20px 0 20px 0;
	}

	.top {
		background-color: white;
		border-radius: 5px 5px 0 0;
		box-shadow: 0 0 10px #000;
		height: 10px;
		position: relative;
		top: 1;
	}
}

a.dribbble_next {
	@include position(absolute, 0 0 -5px 50%);
	@include size($popup-width-half 38px);
	background-color: #F6E431;
	border-radius: 5px 5px 0 0;
	border-top: 2px solid #FDFAD6;
	box-shadow: 0 2px 10px rgba(black, 0.7);
	font-weight: bold;
	line-height: 40px;
	margin-left: -($popup-width-half / 2);
	opacity: 0.7;
	padding-bottom: 10px;
	text-align: center;
	text-shadow: 0 1px 0 #FDFAD6, 0 0 5px rgba(255, 255, 255, 0.3);
	z-index: 10;

	&:hover {
		background-color: #F8E95A;
		bottom: 15px;
		opacity: 1;
	}

	&:active {
		border-top: none;
		box-shadow: 0 1px 5px rgba(black, 0.7);
		line-height: 44px;
	}
}

.dribbble_slider {
	@include size(400px 290px);
	margin: 0 auto;
	position: relative;
}

.shot {
	@include position(absolute, 0px 0 0 0px);
	background-color: white;
	border-radius: 5px;
	border: 1px solid #CCC;
	padding: 9px;

	a {
		@include size(338px 100%);
		@include position(absolute, 9px 0 0 9px);
		@include transition(all 0.3s);
		background-color: rgba(white, 0.8) !important;
		border-radius: 0;
		border: 1px solid #F0F0F0;
		color: #333;
		display: block;
		font-size: 18px;
		font-weight: bold;
		opacity: 0;
		padding: 40px 20px 0;
		text-align: center;
		text-shadow: 0 1px 0 rgba(white, 0.8), 0 0 20px white;

		&:hover {
			opacity: 1;
		}
	}

	i {
		color: #666;
		display: block;
		font-size: 14px;
		font-weight: normal;
	}

	img {
		@include size(378px auto);
		border: 1px solid #CCC;
	}

	&:nth-child(1) {
		box-shadow: 0 3px 8px #000;
	}

	&:nth-child(2) {
		top: 3px;
	}

	&:nth-child(3) {
		top: 6px;
	}

	&:nth-child(4) {
		top: 9px;
	}

	&:nth-child(5) {
		top: 12px;
	}
}

.tweet_container {
	height: 400px;
	margin: 0 40px;
	overflow: hidden;
	position: relative;
}

.tweet_shadow {
	@include size(100% 20px);
	@include position(absolute, 0px 0 0 0px);
	@include background-image(linear-gradient(to bottom, rgba(black, 0.05), rgba(black, 0) 50%));
	z-index: 10;
}

.tweet_content {
	@include box-sizing(border-box);
	@include position(absolute, -220px 0 0 0);
	@include size(100% auto);
	background-color: tint($color-link, 70%);
	box-shadow: 0 3px 10px rgba(black, 0.8);
	color: $color-background;
	display: none;
	line-height: 20px;
	margin-top: -5px;
	padding: 35px 40px 25px;
	text-shadow: 0 1px 0 rgba(white, 0.8);

	a {
		color: inherit;
		text-decoration: underline;
	}

	.user {
		margin-top: 10px;

		img,
		span {
			display: none;
		}
	}

	.timePosted {
		font-size: 12px;
		font-style: italic;
		margin: 10px 0 0 0;
	}

	.interact {
		display: none;
	}
}

.meta {
	font-size: 12px;
}

.footer {
	background-color: white;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CCC;
	box-shadow:  0 0 8px rgba(black, 0.2);
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
	position: relative;
	z-index: 300;
}

.button {
	background-color: #F0F0F0;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset 0 0 5px rgba(black, 0.1), 0 1px 0 white;
	color: #999;
	display: block;
	float: left;
	font-family: futura-pt, $helvetica;
	height: 28px;
	line-height: 28px;
	margin: 15px 0;
	padding: 0 15px;
	text-shadow: 0 1px 0 white;

	&:hover {
		@include background-image(linear-gradient(to top, #CCC, #F0F0F0));
		border-bottom-color: #777;
		border-bottom-width: 3px;
		border-color: #999;
		color: #444;
		box-shadow: inset 0 0 0 1px #F0F0F0, 0 1px 0 white;
		margin-top: 13px;
	}

	&:active {
		background-color: #F0F0F0;
		border: 1px solid #999;
		box-shadow: inset 0 0 5px rgba(black, 0.3), 0 1px 0 white;
		margin: 15px 0;	
		text-shadow: 0 1px 0 white;
	}

	b {
		@include size(20px 28px);
		background-image: url('../../images/sprite_follow.png');
		background-position-y: 50%;
		background-repeat: no-repeat;
		display: block;
		float: left;
	}
}

.dribbble_follow, 
.twitter_follow {
	padding-left: 5px;
}

.dribbble_follow {
	b {
		background-position-x: 0;
	}

	&:hover b {
		background-position-x: -17px;
	}
}

.twitter_follow {
	b {
		background-position-x: -32px;
		width: 18px;
	}

	&:hover b {
		background-position-x: -47px;
	}
}

.footer {
	#dribbble & {
		border-top: none;
		box-shadow: 0 0 8px rgba(black, 0.5);
		margin-top: -20px;
	}

	#twitter & {
		border-radius: 5px;
		border-bottom: 1px solid #DDD;
		border-top: none;
		margin-top: -1px;
	}
}

.resume {
	font-size: 18px;
	text-align: center;
}

.next, 
.resume a {
	@include transition(all, 0.2s);
	color: #CCC;
	float: right;
	font-size: 18px;

	&:hover {
		color: $color-midground;
	}
}

.resume a {
	float: none;
	font-weight: bold;
}

.next:hover {	
	margin-right: -3px;
}

.input_container {
	position: relative;
}

.input {
	border-radius: 3px;
	box-shadow: inset 0 1px 5px rgba(black, 0.2), 0 0 0 1px #CCC;
	display: block;
	font-family: avenir, $helvetica;
	font-size: 16px;
	font-style: italic;
	margin: 5px 0 10px;
	padding: 10px 2%;
	width: 96%;
}

.input:focus {
	box-shadow: inset 0 1px 5px rgba(black, 0.2), 0 0 0 3px #F6E431;
	outline: none;
}

form .button {
	$top: 5px;
	$height: 41px;
	@include position(absolute, $top 6px 0 0);
	height: $height;
	line-height: $height;
	margin: 0;
	padding: 0 20px;

	&:hover {
		top: $top - 2px;
		margin: 0;
	}

	&:active {
		top: $top;
	}
}
